#cart {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.cart-summary {
    position: absolute;
    right: 0;
    top: 0;
    background: rgba(255, 255, 255, 1);
}