
.product-card--cart {
    display: flex;
    flex-direction: row;
}

.product-card--total {
    display: flex;
    justify-content: space-between;
}

.product-card--buttons {
    display: flex;
    justify-content: center;
}