.product-cart--icon:hover {
    opacity: 60%;
    cursor: pointer;
}

.product-result {
    display: grid;
    grid-template-rows: 50% 25% 25%;
    justify-content: center;
    align-items: center;

    margin: 10px;
    padding: 10px;
    border: solid rgb(235, 239, 247);
    background-color: rgb(247, 249, 252);
}

.product-result--description > * {
    line-height: 10px;
}

.product-result--cart > p, button, span {
    margin: 5px;
}

.product-result--name {
    font-weight: 600;
}

.product-result--thumbnail {
    height: 100%;
}

.product-result--image {
    height: 100%;
}