#product-list {
    display: grid;
    grid-template-columns: repeat(2, 50%); 
    padding: 10px;
    max-width: 100%;
}

@media (min-width: 900px) {
    #product-list {
        grid-template-columns: repeat(3, 33%); 
    }
}

@media (min-width: 1200px) {
    #product-list {
        grid-template-columns: repeat(4, 25%); 
    }
}