
.product-card--cart {
    display: flex;
    flex-direction: row;
}

.product-card--total {
    display: flex;
    justify-content: space-between;
}

.product-buttons {
    display: flex;
    justify-content: center;
}

.product-buttons > * {
    margin: 5px;
}

.product-cart--icon:hover {
    opacity: 60%;
    cursor: pointer;
}